body
{
background-position: top;
background-size: cover;
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
background-color: rgb(14, 86, 168);
color:white;
}

#status , #number_of_objects
{
font-size: 18px;
color: white;
box-shadow: 5px 5px 18px rgb(14, 86, 168);
border:2px solid rgb(14, 86, 168);
border-radius: 0px;
}

#number_of_objects{
background-color:rgb(243, 122, 9);
}

#status{
background-color: rgb(41, 250, 21);
}

canvas
{
box-shadow:5px 5px 18px rgb(212, 212, 212);
border-radius: 0px ;
margin-top: 30px;

}
